$bg: #1D1C23
$bgm: #062659
$bgd: #041A3E
$main: #EEE
$purplish: #DB8EDA
$blued: #073175
$bluew: #5E85C3

$xl: 48px
$xl: 34px
$l: 22px
$m: 16px
$s: 14px
$xs: 11px


$main-font: 'Lato', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

body 
  background: $bgd
  font-family: $main-font
  color: $main

.App 
  text-align: center


.App-header 
  background-color: $bgd
  height: 100px
  padding: 20px
  color: white


.App-title 
  font-size: 1.5em

.main-win
  width: 700px
  height: 640px
  background: $bgm
  margin: 0 auto
  padding: 10px

  .v-line
    width: 2px
    background: $blued
    height: 500px
    position: relative
    left: 60px

  .question-c
    .answers-num
      padding: 0 60px
      color: $bluew
      text-align: right
      font-size: $xs

    .question
      display: flex
      justify-content: flex-start
      width: 90%
      margin: 0 auto
      
      

      .lamp-icon
        width: 50px
        color: $bluew
        background: $blued
        align-self: stretch
        display: flex
        justify-content: center
        align-items: center

      .question-text
        background: rgba(white, 0.14)
        color: $main
        padding: 25px
        width: 90%
        text-align: left
        align-self: stretch
      
      .bar-right
        background-image: linear-gradient(-220deg, #DD8EDA 11%, #42A3F9 100%)
        width: 3px
        align-self: stretch
      





  