$bg: #1D1C23
$bgm: #062659
$bgd: #041A3E
$main: #EEE
$purplish: #DB8EDA
$blued: #073175
$bluew: #5E85C3

$xl: 48px
$xl: 34px
$l: 22px
$m: 16px
$s: 14px
$xs: 11px


$main-font: 'Lato', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

body 
  background: $bgd
  font-family: $main-font
  color: $main
 


.App 
  text-align: center


// .App-header 
//   background-color: $bgd
//   height: 100px
//   padding: 20px
//   color: white


// .App-title 
//   font-size: 1.5em

// .main-win
//   width: 700px
//   height: 640px
//   background: $bgm
//   margin: 0 auto
//   padding: 10px

  // .v-line
  //   width: 2px
  //   background: $blued
  //   height: 500px
  //   position: relative
  //   left: 60px

  // .question-c
  //   .answers-num
  //     padding: 0 60px
  //     color: $bluew
  //     text-align: right
  //     font-size: $xs

  //   .question
  //     display: flex
  //     justify-content: flex-start
  //     width: 90%
  //     margin: 0 auto
      
      

  //     .lamp-icon
  //       width: 50px
  //       color: $bluew
  //       background: $blued
  //       align-self: stretch
  //       display: flex
  //       justify-content: center
  //       align-items: center

  //     .question-text
  //       background: rgba(white, 0.14)
  //       color: $main
  //       padding: 25px
  //       width: 90%
  //       text-align: left
  //       align-self: stretch
      
  //     .bar-right
  //       background-image: linear-gradient(-220deg, #DD8EDA 11%, #42A3F9 100%)
  //       width: 3px
  //       align-self: stretch
      
.main-win
  width: 700px
  background: $bgm
  box-shadow: 0 70px 90px -60px black
  margin: 0 auto
  display: grid
  grid-template-columns: 50px auto 50px
  grid-template-rows: 50px auto 1fr auto 50px
  grid-template-areas:  ' . . . '   ' . question-c . ' ' . answers . ' ' . your-answer-c .' ' . . . '
    
    
    
                       

.question-c
  grid-area: question-c
  
  .answers-num
    padding: 0 30px
    color: $bluew
    text-align: right
    font-size: $xs

  .question
    margin-bottom: 30px
    display: grid
    grid-template-columns: 50px 1fr 3px
    grid-template-rows: auto 
    grid-template-areas:  ' lamp-icon question-text bar-right ' 

    .lamp-icon
        color: $bluew
        background: $blued
        display: flex
        justify-content: center
        align-items: center
        grid-area: lamp-icon

    .question-text
        background: rgba(white, 0.14)
        color: $main
        padding: 30px
        text-align: left
        grid-area: question-text
      
    .bar-right
        background-image: linear-gradient(225deg, #DD8EDA 11%, #42A3F9 100%)
        grid-area: bar-right
       


  
.answers
  grid-area: answers
  .answer-c
    margin-bottom: 30px
    display: grid
    grid-template-columns: 50px  1fr
    grid-template-areas:  ' answer-num answer ' 

    .answer-num
      color: $bluew
      display: flex
      justify-content: center
      align-items: center
      grid-area: answer-num

      .answer-num-icon
        background-image: linear-gradient(-45deg, rgba(#DD8EDA, 1) 11%, rgba(#42A3F9, 1) 100%)
        border-radius: 50%
        height: 20px
        width: 20px
        color: $main

    .answer
      background-image: linear-gradient(225deg, rgba(#DD8EDA, 1) 11%, rgba(#42A3F9, 1) 100%)
      color: $main
      text-align: left
      grid-area: answer
      
      display: grid
      grid-template-columns: 50px 1fr 3px
      grid-template-rows: auto 
      grid-template-areas:  ' counter answer-text bar-right ' 

      .counter
          display: flex
          justify-content: center
          align-items: center
          grid-area: counter

      .answer-text
          background: rgba(white, 0.5)
          color: rgba($bg, 0.7)
          padding: 40px 25px 
          margin: 0
          text-align: left
          grid-area: answer-text
        
      .bar-right
          background-image: linear-gradient(225deg, #DD8EDA 11%, #42A3F9 100%)
          grid-area: bar-right

    


  

.your-answer-c
  margin-top: 20px
  grid-area: your-answer-c
  display: grid
  grid-template-columns: 50px 1fr 3px
  grid-template-rows: auto 
  grid-template-areas:  ' your-lamp-icon form  ' 

  .your-lamp-icon
    color: $bluew
    background-image: linear-gradient(225deg, rgba(#42A3F9, 1) 11%, rgba(#42A3F9, 0.6) 100%)
    padding: 14px
    display: flex
    justify-content: center
    align-items: center
    grid-area: your-lamp-icon

  form
    background: rgba(white, 0.14)
    color: $main
    text-align: left
    grid-area: form
    display: grid
    grid-template-columns:  1fr 120px
    grid-template-rows: auto 
    grid-template-areas:  ' input button  ' 

    input
      grid-area: input
      background: rgba(white, 0.7)
      border: none
      font-size: $m
      color: rgba($bgd, 0.7)
      outline: none
      padding-left: 15px
      &::placeholder
        color: rgba(#42A3F9, 0.4)
      
    button
      grid-area: button
      border: none
      color: white
      font-size: $s
      background-image: linear-gradient(225deg, #DD8EDA 11%, #42A3F9 100%)
     
    







  